
		@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');
		body {
			font-family: 'Fira Sans', sans-serif;
			line-height: 1.6;
			color: #222;
			max-width: 40rem;
			padding: 2rem;
			margin: auto;
			background: #fafafa;
		}

		img {
			max-width: 100%;
		}

		a {
			color: 	rgb(255,99,71);
			text-decoration: none;
		}
		h1, h2, strong {
			color: #111;
		}

		details {
			margin-bottom: 0.75em;
			outline: none;
		}

		/* Remove outline for non-keyboard :focus */
		*:focus {
			outline: none;
		}